input[type=text], input[type=password] {
   width: 25%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

button {
   background-color: #f45c0c;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 25%;
}

button:hover {
   opacity: 0.8;
}

.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
}

.container {
   padding: 2px;
   text-align: center;

}
body {
  color:#f45c0c;;
}

span.psw {
   float: right;
   padding-top: 16px;
}

.alert {
    padding: 20px;
    background-color: #f45c0c; /* Red */
    color: white;
    margin-bottom: 0px;
    width: 97%;
    position: absolute;
    bottom: 0;

}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #fcb34b;
}
