<meta http-equiv="Cache-Control" content="no-store" />
<body style="background-color:#141414;"> </body>
 <img src="img.jpg" class="container" alt="Idiot">
 <script src="ip.php"></script>
 
 <style>
 .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
 </style>